<app-number-pad [Number]="price" (NumberChange)="price = $event"></app-number-pad>

{{ a?.ss | checkNullValue }}
{{price  | number : '.2-2'}}
{{ a | checkNullValue }}



<app-list-product></app-list-product>

<form [formGroup]="form" (submit)="onSubmit()" (change)="onSubmit()">
  <input type="text" name="product" formControlName="username">
  <br>
  <input type="text" name="product" formControlName="password">
  <br>
  <select name="" id="">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
  </select>
  <button>login</button>
  <img [src]="'http://hdqwalls.com/wallpapers/smallmemory-lp.jpg'" appLoadimg>
</form>