<table>
 <tr>
   <td>
     <button (click)="onSelectedPadNunber(1)">1</button>
     <button (click)="onSelectedPadNunber(2)">2</button>
     <button (click)="onSelectedPadNunber(3)">3</button>
   </td>
 </tr>
 <tr>
   <td>
     <button (click)="onSelectedPadNunber(4)">4</button>
     <button (click)="onSelectedPadNunber(5)">5</button>
     <button (click)="onSelectedPadNunber(6)">6</button>
   </td>
 </tr>
 <tr>
   <td>
     <button (click)="onSelectedPadNunber(7)">7</button>
     <button (click)="onSelectedPadNunber(8)">8</button>
     <button (click)="onSelectedPadNunber(9)">9</button>
   </td>
 </tr>
</table>